.SearchBar{
    /* border-radius: 50px; */
    border-right: 0px!important;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 0px !important;
    border: 1px solid black;
    box-shadow: none !important;
    margin-top: 3px;
    width: 100%;
    padding: 3px;
}
.SearchBar:focus{
    outline: none;
}
.Icon{
    width: 35px;
    height: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background-color: transparent;
    border: transparent;
    padding: 0px;
}
.Hide{
    visibility: hidden;
}
.Parent{
    position: relative;
    display: flex;
    width: 100%;
    float: right;
    border: 1px solid black;
}
.Container{
    float: right;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.List{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;
    /* border-bottom: 1px solid gray; */
}
.ListElement{
    border-bottom: 1px solid gray;
}